body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: silver;
}
.wrapper > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: gold;
}
.usd{
    margin-top: 50px;
}
.euro{
    margin-top: 50px;
}
input{
    padding: 10PX 20PX;
}
label{
    font-size: 20px;
}